# dependencies
node_modules/

# production build
/dist/

# misc
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# local env files
.env*

# editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# test coverage
coverage/

# system files
*.local

# lock files (optional, if you want to ignore them for multi-package repos)
# package-lock.json
yarn.lock
pnpm-lock.yaml
